<section id="footer" class="footer">
    <div class="container">
        <div class="info row">
            <div class="col-sm-3">
                <h4>General</h4>
                <ul>
                    <li>
                      <%= link_to 'Home', '/pages/home' %>
                    </li>
                    <li>
                      <%= link_to 'About', '/pages/about' %>
                    </li>
                    <li>
                      <%= link_to 'Contact', '/pages/contact' %>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                </ul>
            </div>
        </div>
        <p class="rights">SeaMore</p>
    </div>
</section>
